* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d3d3d3;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.row {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-field {
    margin-bottom: 10px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px;
    resize: none;
}

button {
    background-color: #458ea0;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #458ea0;
}

.row:first-child {
    display: flex;
    justify-content: space-between;
}

.row:first-child .input-field {
    flex: 1;
    margin-right: 10px;
}

.row:first-child .input-field:last-child {
    margin-right: 0;
}

.bottom-left {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.bottom-left button {
    background-color: #555;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.bottom-left button a {
    color: white;
    text-decoration: none;
}
